<!--<div class="top">
  <button (click)="openSettings()" id="top-button" >
    <mat-icon>settings</mat-icon>
  </button>
</div>-->

<h1 style="color: white;  text-align: center; font-size: 36px; margin: 10px">Sklep</h1>

<div id="buttons">
  <button routerLink="/shop"><i class="bi bi-arrow-left"></i></button>
</div>

<div class="progress">
  <img src="assets/rocket.png" alt="Obrazek">
<div class="progress-container">
  <span class="progress-label">Zwinność:</span>
  <div class="progress-bar">
    <div id="agilityProgress" class="progress-value" style="width: 0%;"></div>
  </div>
  <button id="zwinnosc" (click)="increaseValues('agilityProgress')"><i class="bi bi-plus-square-fill"></i></button>

</div>



<div class="progress-container">
  <span class="progress-label">Obrażenia:</span>
  <div class="progress-bar">
    <div id="damageProgress" class="progress-value" style="width: 0%;"></div>
    <!-- Przycisk do zwiększania wartości -->
  </div>
  <button id="obrazenia" (click)="increaseValues('damageProgress')"><i class="bi bi-plus-square-fill"></i></button>
</div>
</div>

<div id="bottom-buttons">
  <button routerLink="/leaderboard"><i class="bi bi-trophy"></i></button>
  <button><i class="bi bi-question-octagon"></i></button>
</div>

