
<body>
<!--<div class="body">-->



<div *ngIf="!this.start && this.score === -1" class="align-content-center justify-content-center">
<!--  <button type="button" class="btn btn primary" (click)="onStart()">-->
<!--    Press to start!-->
<!--  </button>-->
  <button type="button" (click)="onStart()" class="btn btn-primary">Press to start!</button>
<!--  <div class="row">-->
<!--    <div>-->

<!--    </div>-->
<!--  </div>-->

</div>
<div class="container" *ngIf="!this.start && this.score !== -1">
  <h1 style="color: red"  class="col">GAME OVER</h1><br>

  <h2 style="color: red"  class="col"> Score: {{score}}</h2>
</div>

<div *ngIf="this.start" class="container">

  <div class="row">


    <div id="board" class="col-10">
      <div id="points"> 0</div>

        <ng-container *ngFor="let rock of rocksLeftTop; index as i">
          <div class="rocks" [style.left]="rock.left" [style.top]="rock.top + 'px'" id="{{'rock' + rock.index}}" [style.width.px]="rockWidth"></div>
        </ng-container>

      <ng-container *ngFor="let bullet of bullets; index as i">
        <div class="bullets" [style.bottom]="bullet.bottom + 'px'" [style.left]="bullet.left + 'px'" id="{{'bullet' + bullet.index}}"></div>
      </ng-container>

      <div id="jet"></div>
    </div>



  </div>

  <div class="row control-row" *ngIf="this.isMobile">
    <div class="col" >
      <button  class="arrow-button" (touchstart)="startAction('left')" (touchend)="stopAction()" (touchmove)="stopAction()">
        <mat-icon class="mat-icon1">keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div class="col">
      <button class="arrow-button" (touchstart)="startAction('right')" (touchend)="stopAction()" (touchmove)="stopAction()">
        <mat-icon class="mat-icon1">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>

</div>
<!--</div>-->
</body>
