<div id="top-button">
  <button routerLink="/menu"><i class="bi bi-arrow-left"></i></button>
</div>

<div class="container">


  <h2> Rejestracja </h2>
  <form class="text-center p-5">
    <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" [(ngModel)]="username" placeholder="Nazwa użytkownika" name="username">
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" [(ngModel)]="password" placeholder="Hasło" name="password">
    <div class="d-flex justify-content-around">
      <p class="error-message" *ngIf="isIncorrect"> Użytkownik o podanej nazwie już istnieje!</p>
    </div>
    <button class="btn btn-primary"  type="submit" (click)="onSubmit()">Zarejestruj</button>
  </form>
  <!--<router-outlet></router-outlet>-->
</div>


<div *ngIf="showLoadingPopup" class="popup">
  <div class="popup-content">
    <p>Zaczekaj jeszcze chwilę, problemy z połączeniem sieciowym</p>
  </div>
</div>



<div *ngIf="showErrorMessage" class="popup">
  <div class="popup-content">
    <p>Wystąpił problem z rejestracją, spróbuj jeszcze raz</p>
    <button class="close-button" (click)="closeErrorMessage()">Zamknij</button>
  </div>
</div>
