<!--<div class="top">
  <button (click)="openSettings()"*/ id="top-button" >
    <mat-icon>settings</mat-icon>
  </button>
</div>-->
<mat-icon routerLink="/" style="color:white" class="m-4">keyboard_arrow_left</mat-icon>
<h1 style="color: white;  text-align: center; font-size: 36px; margin: 10px">Sklep</h1>



<div class="container">

  <div class="button">

    <button id="1" routerLink="/rocket1" > <img src="assets/rocket.png"></button>
    <button id="2" routerLink="/" > <img src="assets/rocket.png"></button>
    <button id="3" routerLink="/" > <img src="assets/rocket.png"></button>
    <button id="4" routerLink="/" > <img src="assets/rocket.png"></button>
  </div>


  <div class="button">
   <button id="5" routerLink="/"> <img src="assets/rocket.png"></button>
    <button id="6" routerLink="/"><img src="assets/rocket.png"></button>
   <button id="7" routerLink="/"><img src="assets/rocket.png"></button>
    <button id="8" routerLink="/"><img src="assets/rocket.png"></button>
  </div>



  <div class="button">
    <button id="9" routerLink="/" ><img src="assets/rocket.png"></button>
    <button id="10" routerLink="/" ><img src="assets/rocket.png"></button>
    <button id="11" routerLink="/" ><img src="assets/rocket.png"></button>
    <button id="12" routerLink="/" > <img src="assets/rocket.png"></button>
  </div>

</div>


<div id="bottom-buttons">
  <button routerLink="/leaderboard"><i class="bi bi-trophy"></i></button>
  <button><i class="bi bi-question-octagon"></i></button>
</div>





