<div id="top-button">
  <button routerLink="/menu"><i class="bi bi-arrow-left"></i></button>
</div>

<div class="container">
  <h2>Wybór mapy</h2>
  <div class="map-container">
    <button (click)="navigateLeft()" class="icon-button">
      <mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon>
    </button>
    <img [src]="maps[MapSelectorServ.getMap()]" alt="Mapa" class="map-image">
    <button (click)="navigateRight()" class="icon-button">
      <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
