
#top-button {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;


}

#top-button button {
  margin: 10vh 0vw; /* Margin adjusted for responsiveness */
  width: 5vw; /* Width adjusted for responsiveness */
  padding: 0vh 0vw; /* Padding adjusted for responsiveness */
  font-size: 3vw; /* Font size adjusted for responsiveness */
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 1vw; /* Border radius adjusted for responsiveness */
}

#top-button button:hover {
  background-color: transparent;
}

mat-icon {
  color: white;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.map-container {
  display: flex;
  align-items: center;
}

.map-image {
  max-width: 80%;
  min-width: 200px;
  margin: 0 calc(1em);
  border: 5px solid yellow;
  border-radius: 5px;
}


h2 {
  font-size: 3em;
  color: white;
  margin-bottom: 7em;
  margin-top: 2em;
}

mat-icon {
  font-size: 32px;
  color: white;
}

.icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transform: scale(2);
}

.map-container mat-icon {
  margin: 0;
}

.map-container .icon-button {
  margin-left: 0.5em;
  margin-right: 1.5em;
}

