div {
  width: 100%;
  overflow: hidden;
  background: url("/assets/space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  //display: flex;
  //justify-content: center;
  //align-content: center;
  //align-items: center;
}
