.container{
  width: 70vw;
  margin-top: 20px;
}

h2 {
  color: whitesmoke;
}
.error-message{
  color: red;
  font-weight: bold;
}


#top-button {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;


}

#top-button button {
  margin: 10vh 0vw; /* Margin adjusted for responsiveness */
  width: 5vw; /* Width adjusted for responsiveness */
  padding: 0vh 0vw; /* Padding adjusted for responsiveness */
  font-size: 3vw; /* Font size adjusted for responsiveness */
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 1vw; /* Border radius adjusted for responsiveness */
}

#top-button button:hover {
  background-color: transparent;
}

mat-icon {
  color: white;
}

