<div id="top-button">
  <button routerLink="/menu"><i class="bi bi-arrow-left"></i></button>
</div>


<div class="container">
<h2> Logowanie </h2>
<form class="text-center p-5">
  <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" [(ngModel)]="username" placeholder="Nazwa użytkownika" name="username">
  <!-- Password -->
  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" [(ngModel)]="password" placeholder="Hasło" name="password">
  <div class="d-flex justify-content-around">
    <p class="error-message" *ngIf="isIncorrect">Błędny login lub hasło</p>
  </div>
  <button class="btn btn-primary"  type="submit" (click)="onSubmit()">Zaloguj się</button>
</form>
<!--<router-outlet></router-outlet>-->
</div>
