<body>
<div class="top">


<!--<div id="top-buttons">-->
<!--  <button><i class="bi bi-gear"></i></button>-->
<!--</div>-->
<h2 *ngIf="username">
  Zalogowano jako: {{username}}
</h2>
</div>

<div class ="maintext">
  <h1>Space Shooter</h1>
</div>

<div class="coin">
  <div style="text-align: right; color: white; margin: 2vw;"><img src="assets/coin.png" style="width:2vw">{{ coins }}</div>
</div>

<div id="menu">



  <div id="menu-options">

    <button routerLink="/jet-pick">Graj</button>
    <button routerLink="/shop">Sklep</button>
    <button routerLink="/maps">Mapy</button>
    <button routerLink="/login">Logowanie</button>
    <button routerLink="/register">Rejestracja</button>
  </div>
</div>


<div id="bottom-buttons">
  <button routerLink="/leaderboard"><i class="bi bi-trophy"></i></button>
  <button><i class="bi bi-question-octagon"></i></button>
</div>

</body>
