<body>
<div class="top">

  <button (click)="openSettings()" id="top-button" >
    <mat-icon>settings</mat-icon>
  </button>
<!--<div id="top-buttons">-->
<!--  <button><i class="bi bi-gear"></i></button>-->
<!--</div>-->
<h2 *ngIf="username">
  {{username}}
</h2>
</div>

<div id="menu">
  <div>
    <h1 style="">Space Shooter</h1>
  </div>
  <div id="menu-options">

    <button routerLink="/game">Graj</button>
    <button routerLink="/shop">Sklep</button>
    <button routerLink="/maps">Wybór Mapy</button>
    <button routerLink="/">Wyjście</button>
    <button routerLink="/login">Logowanie</button>
    <button routerLink="/register">Rejestracja</button>
  </div>
</div>


<div id="bottom-buttons">
  <button routerLink="/leaderboard"><i class="bi bi-trophy"></i></button>
  <button><i class="bi bi-question-octagon"></i></button>
</div>

</body>
