<body>

<div id="top-buttons">
  <button><i class="bi bi-gear"></i></button>
</div>

<div id="menu">
  <div>
    <h1 style="">Space Shooter</h1>
  </div>
  <div id="menu-options">

    <button routerLink="/game">Graj</button>
    <button routerLink="/">Sklep</button>
    <button routerLink="/">Wybór Mapy</button>
    <button routerLink="/">Wyjście</button>
    <button routerLink="/">Logowanie</button>
  </div>
</div>


<div id="bottom-buttons">
  <button routerLink="/leaderboard"><i class="bi bi-trophy"></i></button>
  <button><i class="bi bi-question-octagon"></i></button>
</div>

</body>
