#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //height: 100vh;
}

#menu-options {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin{
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  margin-top: -5vw

}

.maintext{

  display: flex;
  align-items: center;
  justify-content: center;
  //height: 100vh;
}

#menu-options button {

  margin: 10px;
  width: 70vw;
  padding: 15p;
  font-size: xxx-large;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

#menu-options button:hover {
  background-color: #45a049;
}

#bottom-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#bottom-buttons button {
  margin: 10px;
  width: 50px; /* Adjust the width as needed */
  padding: 10px;
  font-size: 34px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
}

#bottom-buttons button:hover {
  background-color: transparent;
}

#top-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#top-buttons button {
  margin: 10px;
  width: 50px; /* Adjust the width as needed */
  padding: 10px;
  font-size: 34px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
}

#top-buttons button:hover {
  background-color: transparent;
}

h1 {
  color: white;
  margin-top: 20px;
  font-size: xxx-large;
}


body {
  width: 100%;
  overflow: hidden;
  background: url("/assets/space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  //display: flex;
  //justify-content: center;
  //align-content: center;
  //align-items: center;
}

.top {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h2 {
  margin-left: 10px;
  color: whitesmoke;
}

mat-icon{
  color: white;
}
#top-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
