
button {
  margin: 10px;
  width: 50px; /* Adjust the width as needed */
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
}
